.container-login100 {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 640px;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.generalBlock {
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  vertical-align: top;
  font-family: inherit;
  margin-bottom: 1rem;
}

IMG.imgLogo {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  border-radius: 5px;
  padding: 2%;
}

.registrationFields {
  margin-left: 215px;
  margin-right: auto;
  margin-bottom: 1rem;
}

.text-field__label {
  display: block;
  font-size: small;
  font-family: inherit;
}

.text-field__input {
  display: block;
  width: 50%;
  height: calc(1.5rem + 2px);
  margin: 0;
  font-family: inherit;
  color: #361d62;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background: transparent;
  border-bottom: 1px solid #f1e7e7;
}

.text-field__input::placeholder {
  color: #3c246c;
  opacity: 0.4;
}

.text-field__input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.text-field__icon {
  position: relative;
}

*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid #e4e4e7;
}

.text-field__icon::before {
  content: "";
  color: #bdbdbdff;
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
  top: 50%;
  transform: translateY(-50%);
}

.text-field__icon input {
  padding-left: 2rem;
}

input {
  height: 20px;
  padding-left: 2rem;
}

i.fa {
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  margin-right: -26px;
  position: relative;
  z-index: 1;
  float: left;
  color: #bdbdbd;
}

.btn-new {
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    #6b25af 0%,
    #0b63f6 51%,
    #6b25af 100%
  );
}

.btn-new:hover {
  background-position: right center;
}

button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  display: block;
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.35s;
}

.tab-form {
  display: none;
}

.tab-form.active {
  display: block;
  transition: 10s;
}

label.tab {
  margin-top: 10px;
  outline: #6b25af;
  color: #6b25af;
  font-weight: 500;
  line-height: 5px;
  padding: 15px;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
}

label.tab.active {
  background-color: #6b25af;
  color: #ffffff;
  transition: 1s;
}

#LogInTab {
  margin-left: 240px;
}

#LogOutTab {
  margin-right: 0px;
}

.tab-formT {
  display: none;
}

.tab-formT.active {
  display: block;
  transition: 10s;
}

label.tabT {
  margin-top: 10px;
  outline: #6b25af;
  color: #6b25af;
  font-weight: 500;
  line-height: 5px;
  padding: 15px;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
}

label.tabT.active {
  background-color: #6b25af;
  color: #ffffff;
  transition: 1s;
}

#UserAccountTab {
  margin-left: 240px;
}