.container100 {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 640px;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.generalBlock {
  width: 70%;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  vertical-align: top;
  font-family: inherit;
}

IMG.imgLogo {
  margin-top: 2rem;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  border-radius: 5px;
  padding: 2%;
}

.message {
  margin-top: 0%;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 3rem;
}

